<configuration>
    <!-- Configuración del appender para la salida de consola -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Configuración del logger -->
    <logger name="print" level="INFO">
        <appender-ref ref="STDOUT" />
    </logger>

</configuration>
